---
import { Card, CardContent, CardFooter } from '@avador/ui/card/card';
import styles from './Testimonials.module.css';
---

<section class={styles.testimonialsSection}>
  <div class={styles.container}>
    <h2 class={styles.title}>Lo que opinan nuestros clientes</h2>
    <div class={styles.grid}>
      <Card>
        <CardContent>
          <p>
            “Compré mi perfume favorito a un precio excelente. La atención fue rápida y profesional.
            Volvería a comprar sin dudar.”
          </p>
        </CardContent>
        <CardFooter className={styles.name}>Benjamín Luque</CardFooter>
      </Card>

      <Card>
        <CardContent>
          <p>
            “Me llegó todo en perfecto estado. Excelente calidad, presentación y entrega. Muy feliz
            con mi compra.”
          </p>
        </CardContent>
        <CardFooter className={styles.name}>Gonzalo Almirón</CardFooter>
      </Card>

      <Card>
        <CardContent>
          <p>
            “La experiencia fue impecable. Me asesoraron muy bien y encontré el perfume justo para
            mí gracias a los chicos. Super recomendable.”
          </p>
        </CardContent>
        <CardFooter className={styles.name}>Miguel Masedo Tor</CardFooter>
      </Card>
    </div>
  </div>
</section>
